// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
:root {
  --primary: #3394F8;
}

$body-font-family: 'Nunito';
$font-size-root: 16px;
$input-font-size: 16px;
$list-item-title-font-size: 16px;
$list-item-subtitle-font-size: 16px;
$list-item-dense-title-font-size: 16px;
$list-item-dense-subtitle-font-size: 16px;
$data-table-regular-header-font-size: 16px;
$data-table-regular-row-font-size: 16px;
$btn-letter-spacing: 0;
$btn-font-weight: 700;
$border-radius-root: 10px;
$shadow-key-umbra-opacity: rgba(#222222, 0.1);
$shadow-key-penumbra-opacity: rgba(#222222, 0.07);
$shadow-key-ambient-opacity: rgba(#222222, 0.06);
$navigation-drawer-border-width: 0;
$material-dark: (
  app-bar: #222222,
  navigation-drawer: #222222,
  bottom-navigation: #222222,
  background: #222222,
  cards: #2B2B2B
);

$material-light: (
  app-bar: #FFFFFF,
  navigation-drawer: #FFFFFF,
  bottom-navigation: #FFFFFF,
  background: #FFFFFF,
  cards: #FFFFFF
);